body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

.display {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: violet;
}
#C{
    background-color: red;
}
#eq{
    background-color: red;
}
h1{
    position: absolute;
    text-align: center;
    top: 100px;
}